<!--
  Generated template for the HelpDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Aktuelle Anfrage</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header *ngIf="anfrageNutzer && anfrage">
          Anfrage von {{ anfrageNutzer.Vorname }} {{ anfrageNutzer.Name }}
        </ion-card-header>
        <ion-card-content>
          <strong>{{ anfrage.kategorieBez}}</strong>
          <ion-badge item-right>
            Max. {{ anfrage.maxEntfernung }}m
          </ion-badge>
          <p>{{ anfrage.Anfragetext}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header *ngIf="antwortNutzer && antwort">
          Beantwortet von {{ antwortNutzer.Vorname }} {{ antwortNutzer.Name }}
        </ion-card-header>
        <ion-card-content *ngIf="antwort.antwortText">
          <p>{{ antwort.antwortText }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item *ngIf="!fromAnfrage">
      <ion-label>Navigation anzeigen</ion-label>
      <ion-checkbox primary [(ngModel)]="showNavigation"></ion-checkbox>
    </ion-item>
  </ion-list>
  <div #map id="map" [hidden]="showNavigation"></div>
  <div #directions id="directions" [hidden]="!showNavigation"></div>
</ion-content>
